
body {
  background-color: antiquewhite;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}
.bannerimg{
  text-align: center;
  max-width: 100%;
  height: auto;
  width: auto;
  margin:auto;
  display:block
}

h3 {
  text-align: center;
  font-size:x-large
}

#pop-buttons {
  text-align: center;
  background-color: rgb(225, 122, 53);
    border: #060720 solid 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    padding-top: 1px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  
}
button#clear {
  text-align: center;
}

.drink-image{
  max-width:50%;
  max-height:50%;
}

#hover{
  text-align: center;
  max-width:50%;
  max-height:50%;
}

.card {
  text-align: center;
}

#drinkName {
  text-align: left;
}

img {
  max-width:50%;
  max-height:50%;
  
}

#results
{
  text-align: center;
}
  